body {
	color: #404040;
	margin: 0;
}

h1 {
	font-family: 'Abel', sans-serif;
}
h2 {
	font-family: 'Abel', sans-serif;
}
.logo {
	width: 500px;
	margin-top: 50px;
	margin-bottom: 40px;
	display: inline;
}
#home {
	height: 750px;
	background-image: url(../img/background-piensa.png);
	background-repeat: no-repeat;
	background-position: top center;
}
#home a {
	padding-left: 5px;
	padding-right: 5px;
	color: #404040;
	text-decoration: none;
	border-radius: 3px;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;	
}
#home a:hover {
	padding-left: 5px;
	padding-right: 5px;
	color: #FF6D00;
	text-decoration: none;
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;	
}
#home h2 {
	line-height: 1.3em;
}
#contact {
	margin-top: 120px;
}
#contact p {
	padding: 5px 10px 5px 10px;
	font-size: 2em;
	font-family: 'Abel', sans-serif;
	border: 2px solid #FF6D00;
	border-radius: 3px;
}
#map {
	margin-bottom: 80px;
}
#office {
	font-family: 'Abel', sans-serif;
}