<header id="header">
    <nav id="main-menu" class="navbar navbar-default navbar-fixed-top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id="logo-small-dev" href="/"><img src="/img/nav-icon.png" alt="logo"></a>
            </div>
            <div class="collapse navbar-collapse navbar-right">
              <a class="navbar-brand" id="logo-large-dev" href="/"><img src="/img/nav-icon.png" alt="logo"></a>
                <ul class="nav navbar-nav">
                {% if page.url == "/" %}
                    <li class="scroll"><a href="#home">Home</a></li>
                    <li class="scroll"><a href="#team">Team</a></li>
                {% else %}
                    <li class="scroll"><a href="/">Home</a></li>
                {% endif %}
                    <li class="scroll"><a href="/blog/">Blog</a></li>
                    {% if page.url == "/" %}
                    <li class="scroll"><a href="#get-in-touch">Contact</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>