---
layout: default
title: Blog
---

<section id="blog" >
	<picture>
		<img class="blog__main-image" src="/img/open-background.jpg" style="width:100%;height:30rem">
	</picture>
    <div class="container">
		<div class="row">
		<h1>Blog</h1>
		{% for post in paginator.posts %}
			{% assign author = site.authors[post.author] %}
			<article class="col-md-12 col-sm-12 col-xs-12 wow fadeInUp" id="entrie">
				<div class="col-md-1" style="padding-right:1px;">
					<img class="blog__post-thumb" src="/img/{{ author.image_name }}" style="border-radius:50%;width:75%;">
				</div>
				<div class="col-md-11">
					<p>{{ author.display_name }}</p>
					<p>{{ post.date | date: "%b %-d, %Y" }}</p>
				</div>
				<div class="col-md-7">
					<h4>{{ post.title }}</h4>
	                {{ post.excerpt | strip_html | truncatewords: 50 }}
	                <br>
	                <a href="{{ post.url | prepend: site.baseurl }}">Read more</a>
	                <br>
	                {% if post.category %}
						<a href="{{ site.url }}/category/{{ post.category-url }}" class="btn">
						{{ post.category }}
						</a>
			        {% endif %}
				</div>
				<div class="col-md-5">
					{% if post.image %}
	                <img src="/img/posts/{{ post.image }}" class="img-responsive" style="width:80%;"></>
	                {% endif %}
				</div>
            </article>
		{% endfor %}
		</div>
    </div> 
</section>

<!-- <div id="grey">
    <div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<p><img src="/img/javier.jpg" width="50px" height="50px"> <ba>{{ post.author }}</ba></p>
				<p><bd>{{ post.date | date: "%b %-d, %Y" }}</bd></p>
				<h4>{{ post.title }}</h4>
				{% if post.image %}
				<p><img class="img-responsive" src="/img/posts/{{ post.image }}" alt=""></p>
				{% endif %}
				{{ post.excerpt }}
				<p><a href="{{ post.url | prepend: site.baseurl }}">Seguir leyendo...</a></p>
			</div>

		</div>
    </div> 
</div> -->


{% if paginator.total_pages > 1 %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<div class="pagination">
			  {% if paginator.previous_page %}
			    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Previous</a>
			  {% else %}
			    <span>&laquo; Previous</span>
			  {% endif %}

			  {% for page in (1..paginator.total_pages) %}
			    {% if page == paginator.page %}
			      <em>{{ page }}</em>
			    {% elsif page == 1 %}
			      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
			    {% else %}
			      <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
			    {% endif %}
			  {% endfor %}

			  {% if paginator.next_page %}
			    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
			  {% else %}
			    <span>Next &raquo;</span>
			  {% endif %}
			</div>
		</div>
	</div>
</div>
{% endif %}