---
layout: default
---
{% assign author = site.authors[page.author] %}

<div id="white">
    <div class="container">
              <div class="row">
                     <div class="col-lg-8 col-lg-offset-2">
                            <div id="post-body">
                                   <div id="post-image">
                                      {% if page.image %}
                                       <img class="img-responsive" src="/img/posts/{{ page.image }}" alt=""></p>
                                     {% endif %}
                                   </div>
                                   <div id="post-header" style="display:inline-block;" class="col-lg-12">
                                        <div class="col-lg-2">
                                             <img src="/img/thumbs/{{ author.image_name }}" width="65px" height="65px">
                                        </div>
                                        <div id="author">
                                             <h5><a href="{{ site.url }}/authors/{{ page.author-url }}">{{ author.display_name }}</a></h5>
                                        </div>
                                        <div>
                                             <h5> Posted <bd>{{ page.date | date: "%b %-d, %Y" }}</bd></h5>
                                        </div>
                                        <div id="post-title">
                                             <h1>{{ page.title }}</h1>
                                        </div>
                                        <div id="tag">
                                               <a href="{{ site.url }}/category/{{ page.category-url }}" rel="category" class="btn-xs">
                                                 {{ page.category }}
                                               </a>
                                        </div>
                                   </div>
                                   <div id="post-content" class="col-lg-12">
                                        <p>{{ content }}</p>
                                        <hr>
                                   </div>
                                   <div id="share-btn" class="col-lg-12">
                                        <a href="/blog/"> <i class="fa fa-arrow-left"></i> Back</a>
                                        <a style="float: right;clear: both;" class="btn">Share <i class="fa fa-share-alt"></i></a>
                                   </div>
                          </div>
                                    <!-- <div class="container">
                                       <div class="row">
                                          <div class="col-lg-8 col-lg-offset-2">
                                            {% include disqus.html disqus_identifier=page.disqus_identifier %}
                                          </div>
                                       </div>
                                    </div> -->

                     </div>
              </div>
    </div>
</div>
