---
layout: default
---

<div id="white">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        </br></br></br></br>
        <p style="display:inline-block;"><img src="/img/javier.jpg" width="50px" height="50px"> <ba>{% if page.author %}{{ page.author }}{% endif %}</ba></p>
        <p style="float: right;clear: both;" class="btn">share</p>

        {% if page.image %}
          <p><img class="img-responsive" src="/img/posts/{{ page.image }}" alt="" style="width:100%;height:33rem"></p>
        {% endif %}

        <h1>{{ page.title }}</h1>
        <p> Posted <bd>{{ page.date | date: "%b %-d, %Y" }}</bd></p>
        <p>
          Tags:
          {% if page.tags %}
            {% for tag in page.tags %}
                    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">
                      {{ tag }}
                    </a>
            {% endfor %}
          {% endif %}
        </p>
        <p>
          Category:
          {% if page.category %} 
            {% for category in page.category %}
                    <a href="{{ site.baseurl }}{{ site.category_page }}#{{ category | slugify }}" class="post-tag">
                      {{ category }}
                    </a>
            {% endfor %}
          {% endif %}
        </p>
        {{ content }}
        <!-- <br>
        <p><bt>CATEGORÍAS: <a href="#">Wordpress</a> - <a href="#">Web Design</a></bt></p> -->
        <hr>
        <p><a href="/blog/"># Back</a></p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            {% include disqus.html disqus_identifier=page.disqus_identifier %}
          </div>
        </div>
      </div>
    </div>
    </div>
</div>