---
layout: default
---
{% assign author = site.authors[page.author] %}

<div id="white">
    <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        </br></br></br></br>
        <p style="display:inline-block;">
          <img src="/img/{{ author.image_name }}" width="50px" height="50px">
          <ba>
            <a href="{{ site.url }}/authors/{{ page.author-url }}">{{ author.display_name }}</a>
          </ba>
        </p>
        <p style="float: right;clear: both;" class="btn">share</p>

        {% if page.image %}
          <p><img class="img-responsive" src="/img/posts/{{ page.image }}" alt="" style="width:100%;height:33rem"></p>
        {% endif %}

        <h1>{{ page.title }}</h1>
        <p> Posted <bd>{{ page.date | date: "%b %-d, %Y" }}</bd></p>

        <p>
          <bt>
            Category:
            <a href="{{ site.url }}/category/{{ page.category-url }}" rel="category">
              {{ page.category }}
            </a>
          </bt>
        </p>

        {{ content }}

        <hr>
        <p><a href="/blog/"># Back</a></p>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            {% include disqus.html disqus_identifier=page.disqus_identifier %}
          </div>
        </div>
      </div>
    </div>
    </div>
</div>